<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App Name</title> 
    <link rel="stylesheet" href="/styles/main.css"> 
</head>
<body>

    <div class="slide-in-container"> 
        <header>
            <% if (user) { %>
                <h1>Welcome, <%= user.username %>!</h1>
                <nav>
                    <a href="/items" class="btn join-button" aria-label="Register Item">Register Item</a>
                    <a href="/auth/sign-out" aria-label="Sign out">Trash Out</a>
                </nav>
            <% } else { %>
                <nav>
                    <a href="/auth/sign-up" aria-label="Sign up">INITIAL ACCESS</a>
                    <a href="/auth/sign-in" aria-label="Sign in">DUMPSTER DIVE</a>
                </nav>
            <% } %>
        </header>